@model IEnumerable<StaffFrontend.Models.Restock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.restockId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved)
            </td>
            <td>
                @{ /*
                 @Html.ActionLink("Edit", "Edit", new { id=item.PrimaryKey  }) |
                 @Html.ActionLink("Details", "Details", new { id=item.PrimaryKey  }) |
                 @Html.ActionLink("Delete", "Delete", new { id=item.PrimaryKey  })*/
                }


                <a href="/restock/edit/@item.restockId">Edit</a> |
                <a href="/restock/view/@item.restockId">View</a> |
                <a href="/restock/delete/@item.restockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
