@model StaffFrontend.Models.Restock.Restock

@{
    ViewData["Title"] = "Process";
}

<h1>Process</h1>

<h4>Restock</h4>
<hr />
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestockId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestockId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductEan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductEan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="Process">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group custom-switch">
                <div class="custom-control custom-switch">
                    <input id="customSwitch1" type="checkbox" class="custom-control-input" asp-for="@Model.Approved" />
                    <label for="customSwitch1" class="custom-control-label">@Html.DisplayNameFor(model => model.Approved)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
