@model StaffFrontend.Models.Review

@{
    ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.reviewId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reviewId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.reviewContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reviewContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.reviewRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reviewRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hidden)
        </dt>
        <dd class="col-sm-10">
            <div class="custom-control custom-switch">
                <input id="customSwitch1" type="checkbox" class="custom-control-input" asp-for="@Model.hidden" disabled />
                <label for="customSwitch1" class="custom-control-label"></label>
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.createTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.createTime)
        </dd>
    </dl>
</div>
<div>
    @if (Model.hidden)
    {
        <a href="/reviews/unhide/@Model.reviewId?url=/reviews/view/@Model.reviewId">Unhide Review</a>
    }
    else
    {
        <a href="/reviews/hide/@Model.reviewId?url=/reviews/view/@Model.reviewId">Hide Review</a>
    }
    | <a href="/reviews/@Model.productId">Back to List</a>
</div>
