@model StaffFrontend.Models.Customers.CustomerDetailsDTO

@{
    ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.canPurchase)
        </dt>
        <dd class="col-sm-10">
            <div class="custom-control custom-switch">
                <input id="customSwitch1" type="checkbox" class="custom-control-input" asp-for="@Model.Customer.canPurchase" disabled />
                <label for="customSwitch1" class="custom-control-label"></label>
            </div>
        </dd>
    </dl>
    <hr />

    <h4>Reviews</h4>
    <hr />
    @if (Model.Reviews.Count() != 0)
    {
        @foreach (Review review in Model.Reviews)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => review.productId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => review.reviewContent)
                </dd>
            </dl>
        }
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-10">
                This user has not reviewed any product
            </dt>
        </dl>
    }
</div>
<div>
    <a href="/customers/edit/@Model.Customer.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
